<div class="index reps-index container">
  <div class="index-title col-sm-12">
    <h1>Most Called Reps</h1>
    <ul class="nav nav-tabs">
      <li role="presentation"><a href="/reps">All</a></li>
      <li role="presentation" class="active"><a href="#">Most Called</a></li>
      <li role="presentation"><a href="/reps/best-rated">Best Rated</a></li>
      <li role="presentation"><a href="/reps/geo">Search by Location</a></li>
    </ul>
  </div>
  <% @reps.each do |rep| %>
    <%= partial :'reps/_rep', locals: { rep: rep } %>
  <% end %>
</div>
