<div class="index calls-index container">
  <div class="index-title col-sm-12">
    <h1>Recent Calls</h1>
    <ul class="nav nav-tabs">
      <li role="presentation"><a href="/calls">All</a></li>
      <li role="presentation" class="active"><a href="#">Recent</a></li>
    </ul>
  </div>
  <% @calls.each do |call| %>
    <%= partial :'calls/_call', locals: { call: call } %>
  <% end %>
</div>
