<% if flash[:message] %>
  <div class="alert alert-dismissable alert-danger" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <% flash[:message].each do |message| %>
      <p><%= message %></p>
    <% end %>
  </div>
<% end %>
<div class="jumbotron">
  <div class="container">
    <h1>Don't let them hide.</h1>
    <p>Rate your representation. Make civics great again!</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button" data-toggle="modal" data-target="#signup-modal">Sign Up to Track Your Rep</a></p>
    <p><a href="#">Learn more</a></p>
  </div>
</div>
