<div class="jumbotron">
  <div class="container">
    <h1>Don't let them hide.</h1>
    <p>Rate your representation. Make civics great again!</p>
    <p><a class="btn btn-primary btn-lg" href="/signup" role="button">Sign Up to Track Your Rep</a></p>
    <p><a href="#">Learn more</a></p>
  </div>
</div>
