<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Track Your Rep</title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Sign Up Modal -->
    <div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h2 class="modal-title">Sign up for an account</h2>
          </div>
          <div class="modal-body">
            <form class="form-horizontal" action="/signup" method="post">
              <div class="form-group">
                <!-- <label for="inputUsername3" class="col-sm-2 control-label">Username</label> -->
                <div class="col-sm-8 col-sm-offset-2">
                  <input type="username" name="username"class="form-control" id="inputUsername3" placeholder="Username">
                </div>
              </div>
              <div class="form-group">
                <!-- <label for="inputEmail3" class="col-sm-2 control-label">Email</label> -->
                <div class="col-sm-8 col-sm-offset-2">
                  <input type="email" name="email"class="form-control" id="inputEmail3" placeholder="Email">
                </div>
              </div>
              <div class="form-group">
                <!-- <label for="inputPassword3" class="col-sm-2 control-label">Password</label> -->
                <div class="col-sm-8 col-sm-offset-2">
                  <input type="password" name="password"class="form-control" id="inputPassword3" placeholder="Password">
                </div>
              </div>
              <div class="form-group tyr-modal-form-button">
                <div class="col-sm-8 col-sm-offset-2">
                  <button type="submit" class="btn btn-primary btn-block">Sign up</button>
                </div>
              </div>
            </form>
            <div style="text-align:center">
              <p>Already have an account?   <a class="btn btn-default" href="#" role="button" data-dismiss="modal" data-toggle="modal" data-target="#login-modal">Log In</a></p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div><!-- End Sign Up Modal -->

    <!-- Log In Modal -->
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h2 class="modal-title">Log in to your account</h2>
          </div>
          <div class="modal-body">
            <form class="form-horizontal" action="/login" method="post">
              <div class="form-group">
                <!-- <label for="inputEmail3" class="col-sm-2 control-label">Email</label> -->
                <div class="col-sm-8 col-sm-offset-2">
                  <input type="email" name="email"class="form-control" placeholder="Email">
                </div>
              </div>
              <div class="form-group">
                <!-- <label for="inputPassword3" class="col-sm-2 control-label">Password</label> -->
                <div class="col-sm-8 col-sm-offset-2">
                  <input type="password" name="password"class="form-control" placeholder="Password">
                </div>
              </div>
              <div class="form-group tyr-modal-form-button">
                <div class="col-sm-8 col-sm-offset-2">
                  <button type="submit" class="btn btn-primary btn-block">Log In</button>
                </div>
              </div>
            </form>
            <div style="text-align:center">
              <p>Don't have an account?   <a class="btn btn-default" href="#" role="button" data-dismiss="modal" data-toggle="modal" data-target="#signup-modal">Sign Up</a></p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div><!-- End Log In Modal -->

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Track Your Rep</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <% if logged_in? %>
            <h5 class="navbar-text">Find reps:</h5>
            <form class="navbar-form navbar-left" action="/geo" method="post">
              <div class="form-group">
                <input id="geo-complete-input" name="address" type="text" class="form-control" placeholder="Enter your zip">
                <input name="lat" type="hidden" id="lat" value="">
                <input name="lng" type="hidden" id="lng" value="">
              </div>
              <button type="submit" class="btn btn-default">Search</button>
            </form>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/users/<%= current_user.id %>">Profile</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/logout">Log Out</a></li>
              </ul>
            </li>
            <% else %>
            <!-- Button trigger modal -->
            <li><a id="login-modal-button" href="#" data-toggle="modal" data-target="#login-modal">
              Log In
            </a></li>
            <li><a id="signup-modal-button" href="#" class="btn btn-primary" data-toggle="modal" data-target="#signup-modal">
              Sign Up
            </a></li>
            <!-- Button trigger modal -->
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>


    <%= yield %>

    <div class="container text-center">
    <hr />
      <div class="row">
        <div class="col-lg-12">
          <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
              <li><a href="https://www.github.com/msimonborg/track-your-rep" target="blank">Open Source</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
              <li><a href="https://www.github.com/phoneyourrep/phone-your-rep-api" target="blank">Rep Data</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
              <li><a href="http://www.phoneyourrep.com" target="blank">Phone Your Rep</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
              <li><a href="#">About</a></li>
            </ul>
          </div>
        </div>
      </div>
      <hr>
        <div class="row">
          <div class="col-lg-12">
            <ul class="nav nav-pills nav-justified">
              <li><a href="https://www.github.com/msimonborg" target="blank">© 2017 m. simon borg</a></li>
              <li><a href="/terms-of-service">Terms of Service</a></li>
              <li><a href="/privacy-policy">Privacy</a></li>
            </ul>
          </div>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Google Geocomplete and Places API plugins -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDN47V710PFxcFAGY3Gx6hipg7P3CWcQn8&libraries=places&v=3"></script>
    <script src="/js/jquery.geocomplete.min.js"></script>
    <!-- End of Google APIs -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/main.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
