<div id="privacy-policy" class="container">
  <h1>Your secrets are safe with us.</h1>
  <p>We will <strong>never</strong> sell or give your personal information to anyone. We only ask you for your email and password for account creation. There will never be any ads or anything to sell you, and we will take every step we can to protect your privacy.</p>
</div>
